<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="contact.css">
    <div class='contact-body'>

        <div class="offices-container">
            <div class="beijing-office-container">

                <h3 class='beijing-office-span mt-3'>Beijing Office</h3>
                <div class="container-fluid mt-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/gugong.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">北京</h5>
                            <p class="card-text">紫禁城位于北京的中心。故宫，又称紫禁城，是清明两代的皇宫</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">电话： +8610 68367391</li>
                            <li class="list-group-item">Email： hao_fei@hhp.com</li>
                            <li class="list-group-item">地址： 北京西直门桥CBD广场 48层4808</li>
                            <li class="list-group-item">时间： 8AM ~ 8PM</li>
                            <li class="list-group-item">客服： 费昊</li>
                        </ul>
                        <div class="card-body">
                            <a href="/" class="card-link">回到首页</a>

                        </div>
                    </div>
                </div>
            </div>



            <div class="calgary-office-container">

                <h3 class='calgary-office-span mt-3'>Calgary Office (HQ)</h3>
                <div class="container-fluid mt-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top justified-img" src="img/calgary.png.crdownload.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Calgary Office</h5>
                            <p class="card-text">It is situated at the confluence of the Bow River</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Phone： +1(403)475-2599</li>
                            <li class="list-group-item">Email： kevin_peng@hhp.com</li>
                            <li class="list-group-item">Address: The Bow Building 2202 Canada T2H 0J6</li>
                            <li class="list-group-item">Hours: 8AM ~ 8PM</li>
                            <li class="list-group-item">Agent: Kevin</li>
                        </ul>
                        <div class="card-body">
                            <a href="/" class="card-link">Home Page</a>

                        </div>
                    </div>
                </div>
            </div>



            <div class="okotoks-office-container">

                <h3 class='okotoks-office-span mt-3'>Okotoks Office</h3>
                <div class="container-fluid mt-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top justified-img" src="img/okotoks.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Okotoks Office</h5>
                            <p class="card-text">Okotoks offers the lifestyle edge and strong quality of life.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Phone: +1(403)237-1037</li>
                            <li class="list-group-item">Email: peter_pan@hhp.com</li>
                            <li class="list-group-item">Address: 49 N Railway St, Okotos, AB T1S 1K1</li>
                            <li class="list-group-item">Hours: 8AM ~ 8PM</li>
                            <li class="list-group-item">Agent: Peter</li>
                        </ul>
                        <div class="card-body">
                            <a href="/" class="card-link">Home Page</a>

                        </div>
                    </div>
                </div>
            </div>




            <div class="hawaii-office-container">

                <h3 class='hawaii-office-span mt-3'>Hawaii Office</h3>
                <div class="container-fluid mt-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top justified-img" src="img/hawaii-card.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Hawaii Office</h5>
                            <p class="card-text">Hawaii is a U.S. state located in the Pacific Ocean.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Phone: +1(808)467-1037</li>
                            <li class="list-group-item">Email: helen_hudson@hhp.com</li>
                            <li class="list-group-item">Address: 2427 Kūhiō Ave., Honolulu, HI 96815,</li>
                            <li class="list-group-item">Hours: 8AM ~ 8PM</li>
                            <li class="list-group-item">Agent: Helen</li>
                        </ul>
                        <div class="card-body">
                            <a href="/" class="card-link">Home Page</a>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>